:root {
    --text-color: #e1e1e1;
    --dp0: rgb(255, 255, 255, 0);
    --dp1: rgb(255, 255, 255, 0.05);
    --dp2: rgb(255, 255, 255, 0.07);
    --dp3: rgb(255, 255, 255, 0.08);
    --dp4: rgb(255, 255, 255, 0.09);
    --dp6: rgb(255, 255, 255, 0.11);
    --dp8: rgb(255, 255, 255, 0.12);
    --dp12: rgb(255, 255, 255, 0.14);
    --dp16: rgb(255, 255, 255, 0.15);
    --dp24: rgb(255, 255, 255, 0.16);

    --primary: darkgoldenrod;
}

html,
body {
    margin: 0;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-toolbar {
    background-color: var(--dp12);
    padding: 20px 15px;
    margin: 0;
}

.toolbar-btn {
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0 20px;
}

.toolbar-btn:hover {
    filter: invert(90%);
}

.toolbar-btn:active {
    filter: invert(50%);
}

.white-icon {
    filter: invert(64%);
}

.back-icon {
    background: url('icons8-back-to-30.png') no-repeat center;
}

.forward-icon {
    background: url('icons8-next-page-30.png') no-repeat center;
}

.new-icon {
    background: url('icons8-add-30.png') no-repeat center;
}

.open-icon {
    background: url('icons8-opened-folder-30.png') no-repeat center;
}

.save-icon {
    background: url('icons8-save-30.png') no-repeat center;
}

.content {
    background-color: var(--dp12);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tab-group {
    color: var(--text-color);
    display: flex;
    margin: 0px 15px;
}

.tab {
    padding: 8px 20px;
    margin: 0 1px;
    background-color: #121212;
}

.tab-sel {
    background-color: var(--primary);
}

.bottom-line {
    background-color: var(--primary);
    height: 3px;
    margin: 0 15px;
}

.tab-content {
    background-color: #121212;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    margin: 0 15px 15px;
    padding: 15px 25px;
    white-space: pre-wrap;
    color: var(--text-color);
    font-family: monospace;
    font-size: 11pt;
}

.termline-div {
    display: flex;
}

.termline {
    width: 800px;
    margin: 0;
    padding: 0 0 0 10px;
    word-wrap: break-word;
}

.high_dp {
    background-color: var(--dp8);
}

.low_dp {
    background-color: var(--dp2);
}

.termtime {
    margin: 0;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    padding: 1px 3px;
}

.termdate {
    margin: 5px auto 10px;
    border: none;
    background-color: var(--primary);
    padding: 2px 15px;
    border-radius: 15px;
    font-size: 10pt;
}
